link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
aside.sidebar
  ul.no-list.sb_top_lv
    li
        i.fa.fa-dashboard
        span Home
        ul.no-list.sb_dropdown.clearfix
          li
            a The Dash
          li
            a Settings
          li
            a Account
    li
        i.fa.fa-cubes
        span Projects
        ul.no-list.sb_dropdown.clearfix
          li
            a Awesome Project
          li
            a No Lama No!!
          li
            a I Like Trains
    li
        i.fa.fa-users
        span CRM
        ul.no-list.sb_dropdown.clearfix
          li
            a Dashboard
          li
            a Contacts
          li
            a Pipeline
          li
            a Tasks
    li
        i.fa.fa-tasks
        span Task Center
        ul.no-list.sb_dropdown.clearfix
          li
            a The Dash
    li
        i.fa.fa-lock
        span Access Vault
        ul.no-list.sb_dropdown.clearfix
          li
            a The Vault
